* { box-sizing: border-box; }
html, body { margin: 0; padding: 0; }

html {
	font-size: 9vmin;
}

section {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	border-bottom: 1px solid rgba(100%, 100%, 100%, 0.1);
	position: relative;
}

section, .layer {
	/* "Gridded Headings" technique from Eric Meyer
	    http://meyerweb.com/eric/thoughts/2017/05/19/gridded-headings/ */
	display: grid;
	grid-template-columns:
		minmax(1em, 1fr)
		minmax(min-content, max-content)
		minmax(1em, 1fr);
	align-items: center;
	align-content: center;
}

section > *,
.layer > * {
	grid-column: 2 / 2;
}

section.fullscreen > *,
.layer.fullscreen > * {
	grid-column: 1 / 4;
} 

.layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.notes { 
	display: none;
}
